@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

/* *{
    box-sizing:border-box !important;
    margin: 0 !important;
} */

a{
    color: black !important;
}

.brand-logo{
    margin-left: 14rem;
    font-weight: 590 !important;
    font-size: 2rem !important;
    font-family: 'Grand Hotel', cursive;
}


.auth-card{
    padding: 35px;
    width: 25rem;
    height: 80vh;
    /* background-color: red; */
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem !important;
}

.auth-card h1{
    margin-top: -5rem;
    font-family: 'Grand Hotel', cursive;
    margin-top: inherit;
}

.login-input {
    margin-top: 1rem;
}

.login-input button{
    width: 20rem;
    display: flex ;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.input-field{
    border-radius: 3px !important;
    height: 3rem !important;
    margin-right: 1rem !important;
    padding-left: 1rem !important;
}

.login-page img{
    margin-top: 2rem !important;
    height: 35rem !important;
    margin-right: 2rem !important;
}


.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.galary{
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:60vw !important;
    margin-bottom: 5rem;
}

.myprofile{
    object-fit: cover !important;
}

.items{
    object-fit: contain;
    margin-top: 1rem;
    display: flex;  
    flex-wrap: wrap;
}

.home-card{
    max-width: 750px;
    height: max-content;
    margin: 25px auto ;
}

.card-content{
    margin-bottom: 2rem;
}

.card .card-content{
    padding: 13px !important;
}

.card img{
    width: 750px;
    max-height: 80vh;
    object-fit: contain;
}

.home i {
    cursor:pointer !important ;
    caret-color: transparent;
}

i:active {
    animation: push 0.2s linear 1;
}

@keyframes push{
    50%  {transform: scale(1.4);}
  }


.followbtn{
    margin:auto !important;
    margin-right: 800px !important;
    margin-bottom: 15px !important;
}

.update_pic{
    margin-bottom: 5px;
}
.show{
    display: block !important;
}

.hide{
    display: none !important;
}